@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Skypilar", "Inter", system-ui, sans-serif;
  --font-mono: "Inter", monospace;
  
  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
